<!-- Header -->
<div id="header" class="skel-panels-fixed">

  <div class="top">

    <!-- Logo -->
    <div id="logo">
      <span class="image avatar48"><img src="assets/avatar.png" alt="" /></span>
      <h1 id="title">Juliana Seng</h1>
      <span class="byline">Developer, Youtuber, Dreamer</span>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <!--

          Prologue's nav expects links in one of two formats:

          1. Hash link (scrolls to a different section within the page)

             <li><a href="#foobar" id="foobar-link" class="skel-panels-ignoreHref"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

          2. Standard link (sends the user to another page/site)

             <li><a href="http://foobar.tld"><span class="fa fa-whatever-icon-you-want">Foobar</span></a></li>

      -->
      <ul>
        <li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Intro</span></a></li>
        <li><a href="#appsportfolio" id="appsportfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-code">Apps Portfolio</span></a></li>
        <li><a href="#designportfolio" id="designportfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-pencil">Design Portfolio</span></a></li>
        <li><a href="#resume" id="resume-link" class="skel-panels-ignoreHref"><span class="fa fa-user">Resume</span></a></li>
      </ul>
    </nav>

  </div>

  <div class="bottom">

    <!-- Social Icons -->
    <ul class="icons">
      <li><a href="https://twitter.com/zyfs" class="fa fa-twitter solo"><span>Twitter</span></a></li>
      <li><a href="https://www.facebook.com/juliana.seng" class="fa fa-facebook solo"><span>Facebook</span></a></li>
      <li><a href="https://github.com/hexcone" class="fa fa-github solo"><span>Github</span></a></li>
      <li><a href="http://zyfs.tumblr.com" class="fa fa-tumblr solo"><span>Tumblr</span></a></li>
      <li><a href="http://www.youtube.com/user/hexcone" class="fa fa-youtube solo"><span>Youtube</span></a></li>
    </ul>

  </div>

</div>

<!-- Main -->
<div id="main">

<!-- Intro -->
<section id="top" class="one">
  <div class="container">

    <div class="videoWrapper image featured">
      <iframe width="1280" height="720" src="http://www.youtube.com/embed/kLvYeVdXVTM?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <header>
      <h2 class="alt">Hello there, I'm <strong>Juliana</strong></h2>
      <h3>and I like fluffy animals.</h3>
    </header>

    <p>I've just graduated from Nanyang Polytechnic with a Diploma in Information Security!
      Currently administrating <a href="http://nypsu.com/">NYP Students' Union website</a>
      and trying out new things before university begins! In my freetime, I (want to) create Youtube
      content and enjoy electronic music, Japanese bands, anime and other shows. I also
      <a href="http://zyfs.tumblr.com/search/translation">translate Japanese text</a>.
      Sometimes I walk around in fluffy dresses. I like sleeping, dreaming and imagining
      hypothetical situations.
    </p>

    <footer>
      <a href="#appsportfolio" class="button scrolly">View Portfolio</a>
    </footer>

  </div>
</section>

<!-- IT Portfolio -->
<section id="appsportfolio" class="two">
  <div class="container">

    <header>
      <h2>Apps Portfolio</h2>
    </header>

    <div class="row">
      <div class="4u">
        <article class="item">
          <a href="assets/project/viper1.jpg" data-lightbox="viper" class="image full"
             data-title="A prototype application for the animation industry, aimed at
                                           management, protection and sharing, analysis of animation assets">
            <img data-src="assets/project/viper1.jpg" src="" />
          </a>
          <a href="assets/project/viper2.png" data-lightbox="viper" ></a>
          <a href="assets/project/viper3.png" data-lightbox="viper" ></a>
          <a href="assets/project/viper4.png" data-lightbox="viper" ></a>
          <a href="assets/project/viper5.png" data-lightbox="viper" ></a>
          <a href="assets/project/viper6.png" data-lightbox="viper" ></a>
          <a href="assets/project/viper7.png" data-lightbox="viper" ></a>
          <a href="assets/project/viper8.jpg" data-lightbox="viper" ></a>
          <header>
            <h4>VIPER</h4>
          </header>
        </article>

        <article class="item">
          <a href="assets/project/liquidgem1.jpg" data-lightbox="studentportal" class="image full"
             data-title="A social networking website for NYP students, shown are the
                                           geocaching (virtual treasure hunt) section">
            <img data-src="assets/project/liquidgem1.jpg" src="" />
          </a>
          <a href="assets/project/liquidgem2.png" data-lightbox="studentportal" ></a>
          <a href="assets/project/liquidgem3.png" data-lightbox="studentportal" ></a>
          <a href="assets/project/liquidgem4.png" data-lightbox="studentportal" ></a>
          <header>
            <h4>student portal</h4>
          </header>
        </article>
      </div>
      <div class="4u">
        <article class="item">
          <a href="assets/project/malwarelab1.png" data-lightbox="malwarelab" class="image full"
             data-title="An infrastructure to support and perform analysis and reverse
                                           engineering activities on malware artifacts">
            <img data-src="assets/project/malwarelab1.png" src="" />
          </a>
          <a href="assets/project/malwarelab2.png" data-lightbox="malwarelab" ></a>
          <a href="assets/project/malwarelab3.jpg" data-lightbox="malwarelab" ></a>
          <header>
            <h4>malware lab</h4>
          </header>
        </article>
        <article class="item">
          <a href="assets/project/quantum1.png" data-lightbox="quantum" class="image full"
             data-title="A website to facilitate telecommuting (working from home) for companies">
            <img data-src="assets/project/quantum1.png" src="" />
          </a>
          <a href="assets/project/quantum2.png" data-lightbox="quantum" ></a>
          <a href="assets/project/quantum3.png" data-lightbox="quantum" ></a>
          <a href="assets/project/quantum4.png" data-lightbox="quantum" ></a>
          <a href="assets/project/quantum5.png" data-lightbox="quantum" ></a>
          <a href="assets/project/quantum6.png" data-lightbox="quantum" ></a>
          <a href="assets/project/quantum7.png" data-lightbox="quantum" ></a>
          <a href="assets/project/quantum8.png" data-lightbox="quantum" ></a>
          <header>
            <h4>quantum</h4>
          </header>
        </article>
      </div>
      <div class="4u">
        <article class="item">
          <a href="assets/project/sgheritage1.png" data-lightbox="sgheritage" class="image full"
             data-title="A Java application to promote Singapore’s tourism industry through
                                           introduction of Singapore's historical attractions">
            <img data-src="assets/project/sgheritage1.png" src="" />
          </a>
          <a href="assets/project/sgheritage2.jpg" data-lightbox="sgheritage" ></a>
          <a href="assets/project/sgheritage3.png" data-lightbox="sgheritage" ></a>
          <a href="assets/project/sgheritage4.png" data-lightbox="sgheritage" ></a>
          <a href="assets/project/sgheritage5.png" data-lightbox="sgheritage" ></a>
          <a href="assets/project/sgheritage6.png" data-lightbox="sgheritage" ></a>
          <a href="assets/project/sgheritage7.png" data-lightbox="sgheritage" ></a>
          <a href="assets/project/sgheritage8.png" data-lightbox="sgheritage" ></a>
          <header>
            <h4>SG Heritage</h4>
          </header>
        </article>

        <article class="item">
          <a href="assets/project/rzsec1.png" data-lightbox="rzsec" class="image full"
             data-title="An informative website on the dangers on the Internet and
                                           countermeasures to protect their system">
            <img data-src="assets/project/rzsec1.png" src="" />
          </a>
          <a href="assets/project/rzsec2.png" data-lightbox="rzsec" ></a>
          <a href="assets/project/rzsec3.png" data-lightbox="rzsec" ></a>
          <a href="assets/project/rzsec4.png" data-lightbox="rzsec" ></a>
          <header>
            <h4>Rz Sec</h4>
          </header>
        </article>
      </div>
    </div>

  </div>
</section>

<!-- Design Portfolio -->
<section id="designportfolio" class="three">
  <div class="container">

    <header>
      <h2>Design Portfolio</h2>
    </header>

    <div class="row">
      <div class="4u">
        <article class="item">
          <a href="assets/design/2014planner1.jpg" data-lightbox="2014planner" class="image full"
             data-title="">
            <img data-src="assets/design/2014planner1.jpg" src="" />
          </a>
          <a href="assets/design/2014planner2.jpg" data-lightbox="2014planner" ></a>
          <a href="assets/design/2014planner3.jpg" data-lightbox="2014planner" ></a>
          <a href="assets/design/2014planner4.jpg" data-lightbox="2014planner" ></a>
          <a href="assets/design/2014planner5.jpg" data-lightbox="2014planner" ></a>
          <a href="assets/design/2014planner6.jpg" data-lightbox="2014planner" ></a>
          <a href="assets/design/2014planner7.jpg" data-lightbox="2014planner" ></a>
          <header>
            <h4>Student Planner 2014/2015</h4>
          </header>
        </article>

        <article class="item">
          <a href="assets/design/2013planner1.jpg" data-lightbox="2013planner" class="image full"
             data-title="">
            <img data-src="assets/design/2013planner1.jpg" src="" />
          </a>
          <a href="assets/design/2013planner2.jpg" data-lightbox="2013planner" ></a>
          <a href="assets/design/2013planner3.jpg" data-lightbox="2013planner" ></a>
          <a href="assets/design/2013planner4.jpg" data-lightbox="2013planner" ></a>
          <a href="assets/design/2013planner5.jpg" data-lightbox="2013planner" ></a>
          <header>
            <h4>Student Planner 2013/2014</h4>
          </header>
        </article>
      </div>
      <div class="4u">
        <article class="item">
          <a href="assets/design/genyp1.jpg" data-lightbox="genyp" class="image full"
             data-title="">
            <img data-src="assets/design/genyp1.jpg" src="" />
          </a>
          <a href="assets/design/genyp2.png" data-lightbox="genyp" ></a>
          <a href="assets/design/genyp3.png" data-lightbox="genyp" ></a>
          <a href="assets/design/genyp4.png" data-lightbox="genyp" ></a>
          <a href="assets/design/genyp5.jpg" data-lightbox="genyp" ></a>
          <header>
            <h4>GeneratioNYP</h4>
          </header>
        </article>
        <article class="item">
          <a href="assets/design/campexco1.jpg" data-lightbox="campexco" class="image full"
             data-title="">
            <img data-src="assets/design/campexco1.jpg" src="" />
          </a>
          <header>
            <h4>Camp EXCO</h4>
          </header>
        </article>
      </div>
      <div class="4u">
        <article class="item">
          <a href="assets/design/supermarketrace1.jpg" data-lightbox="spermarketrace" class="image full"
             data-title="">
            <img data-src="assets/design/supermarketrace1.jpg" src="" />
          </a>
          <header>
            <h4>Supermarket Race</h4>
          </header>
        </article>

        <article class="item">
          <a href="assets/design/lego1.png" data-lightbox="lego" class="image full"
             data-title="">
            <img data-src="assets/design/lego1.png" src="" />
          </a>
          <header>
            <h4>Building a LovingSG</h4>
          </header>
        </article>
      </div>
    </div>

  </div>
</section>


<!-- Resume -->
<section id="resume" class="four">
  <div class="container">

    <header>
      <h2>Resume</h2>
    </header>

    <h3>Experience</h3>
    <p>• <strong>Centre for Strategic Infocomm Technologies</strong><br />
      Intern, September - November 2013<br />
      • <strong>Multi-plAtform Game Innovation Centre (MAGIC), Nanyang Technological University</strong><br />
      Intern, March - June 2013<br />
      Developed an Android application for the Animation Production Management System (AMPS).
      AMPS is an online management system built for the animation production domain to
      facilitate resource-sharing.
    </p>

    <h3>Education</h3>
    <p>• <strong>Nanyang Polytechnic (NYP)</strong><br />
      2011 to 2014<br />
      Diploma in Information Security with Merit<br />
      CSIT-Nanyang Scholarship holder<br />
      Admitted to Director's List for 3 semesters<br />
      • <strong>Ikoma Language School</strong><br />
      2010 to 2012<br />
      Passed Japanese-Language Proficiency Test (N4)<br />
      Passed Japanese-Language Proficiency Test (N5)<br />
      • <strong>Presbyterian High School</strong><br />
      2007 to 2010<br />
      Passed GCE ‘O’ Level with 6 distinctions
    </p>

    <h3>Activities</h3>
    <p>• <strong>NYP Students' Union</strong><br />
      Organized school events and collaborations with external parties<br />
      Vice President, 20th Executive Committee, 2013/2014<br />
      Assistant Head of Creative Media, 19th Executive Committee, 2012/2013<br />
      Offical In-Charge, NYP's Got Talent, 2013<br />
      Junior Committee, 2011<br />
      • <strong>NYP Current Affairs and Debate Club</strong><br />
      1st Runner-up, NYP Inter-School Debates 2011<br />
      Participated in Singapore Polytechnic Debates Open 2011<br />
      • <strong>NYP Voice Ensemble</strong></p>

    <h3>Certifications</h3>
    <p>• IBM Certified Academic Associate - DB2 9 Database and Application Fundamentals (2013)<br />
      • IBM Certified Designer - Cognos 10 BI Reports (2013)
    </p>

    <h3>Accomplishments</h3>
    <p>• NYP Star Awards, Community Services & Leadership, Silver (2014)<br />
      • National Infocomm COmpetition - XSITE (2011)<br />
      • CISCO Netriders Singapore (2011)<br />
      • International Competitions and Assessments for Schools Science, Distinction (2010)<br />
      • Australian Mathematics Competition, Proficiency (2010)<br />
      • Australian Mathematics Competition, Credit (2009)<br />
      • 10th Elementz Science Research Conference & Exhibition (2009)<br />
      • Singapore Mathematical Olympiads, Bronze (2008)
    </p>
  </div>
</section>

</div>

<!-- Footer -->
<div id="footer">

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</div>